.operation
  .operation-line
    i.fa(ng-class="icon()")
  .operation-info
    time(ng-bind="::operation.creationDate | debtsTime")
    p
      span(ng-bind="label() | i18next")
      |  <span class="data" ng-bind="::operation.operationData"></span>
      |  <span ng-bind="complement() | i18next"></span>