.jumbotron.text-center
  h1= t("app.errors.404.title")
  p= t("app.errors.404.message")
    |  (404)
  p
    a.btn.btn-primary.btn-lg(href="#/", type="button")
      span.glyphicon.glyphicon-home(aria-hidden)
      | &nbsp;#{t("app.errors.404.action")}