section.margin-btm-1(ng-controller="HistoryController as history")
  .debts-panel
    .debts-panel-heading-sm.inverse
      h4= t("app.history.title")
        span.glyphicon.glyphicon-hourglass.pull-right(aria-hidden="true")
    .debts-panel-body
      .form-group.form-group-sm
        select.form-control(ng-model="history.type" ng-change="history.change()"
            ng-options="type.name as type.translation | i18next for type in history.types")
      .history-group
        .history-summary(ng-repeat="summary in history.summaries track by summary.id")
          time(ng-bind="::summary.creationDate | debtsTime")
          .history-summary-data
            span.glyphicon.glyphicon-circle-arrow-right(aria-hidden="true")
            span  {{::summary.data}}
      .history-more(ng-hide="history.isEmpty")
        button.btn.btn-load-more.btn-xs.btn-block(type="button" ng-click="history.loadMore()"
            ng-disabled="history.allLoaded || history.loading")
          span.glyphicon.glyphicon-triangle-bottom(aria-hidden="true")
          |  #{t("app.history.older")}