.alert(ng-class="[type ? 'alert-' + type : null]")
  button.close(type="button" ng-if="dismissable" ng-click="$hide()") &times;
  strong(ng-i18next="app.notification.{{title}}")
  | &nbsp;
  span(ng-i18next="[html]app.notification.{{content}}")