.operation
  .operation-line
    .operation-circle
  .operation-info
    time(ng-bind="::operation.creationDate | debtsTime")
    p
      | <span ng-bind="entity() | i18next"></span>
      |  <span class="data" ng-bind="::operation.data"></span>
      |  <span ng-bind="complement() | i18next"></span>