.expense-board
  .row
    .col-md-5.col-sm-6.col-xs-12(role="complementary")
      include includes/expense_creation_panel
    .middle-panel.col-md-7.col-sm-6.col-xs-12(role="main")
      include includes/expenses_list_panel