- var addParticipantTranslation = t("app.event.add_p");

.event-header
  .jumbotron.inverse
    .container
      h1(ng-bind="::model.event.name")
      p(ng-cloak="").lead #{t("app.event.with")}&nbsp;
        span(debts-inline-data="model.event.participants;name")
.container
  .row
    .event-layout-aside.col-md-2.col-xs-12.pull-right
      .event-actions
        ul.list-fluent.text-center.margin-btm-1
          li
            .btn-o(role="button" ng-click="model.addParticipant()" title=addParticipantTranslation
            aria-label=addParticipantTranslation)
              .btn-o-content
                i.fa.fa-user-plus
      .communication
        .twitter-home
          span.fa.fa-twitter
        p.margin-btm-1.
          #{t("app.event.twitter")}
          <a href="https://twitter.com/intent/follow?user_id=731610837740359681" class="external-link" target="_blank">
          @NoDebts4Friends</a>.
    .event-layout-content.col-md-10.col-xs-12
      include includes/nav_tabs
      div(ui-view="")