.event-header
  .jumbotron.inverse
    .container
      h1 {{::model.event.name}}
      p(ng-cloak="").lead #{t("app.event.with")}&nbsp;
        span(debts-inline-data="::model.event.participants;name")
  .container(ui-view="")