- var shareLabel = t("app.participants.share");

.row
  .participant-thumbnail(ng-repeat="participant in ::model.event.participants track by participant.id")
    .participant-thumbnail-box
      .participant-thumbnail-avatar
        debts-avatar
      .participant-thumbnail-name
        h4(ng-bind="::participant.name")
      .participant-thumbnail-info
        ul
          li {{::participant.share, plural, =1 {1 #{shareLabel}} other {# #{shareLabel}s}}}
          li(ng-if="participant.email" ng-bind="participant.email")
          li.missing-email(ng-if="!participant.email")= t("app.participants.missing_email")
      .participant-thumbnail-edit
        button.btn.btn-action.btn-sm.btn-block(type="button" ng-click="participants.edit(participant)")
          span.glyphicon.glyphicon-pencil(aria-hidden="true")
          = t("app.participants.edit.label")