.dashboard
  .jumbotron.inverse
    .container
      h1 {{model.event.name}}
      p(ng-cloak="").lead #{t("app.event.with")}&nbsp;
        span(debts-inline-data="model.event.participants::name")
  .container.expense-board
    .row
      .col-md-4.col-md-offset-5
        a(ng-href="#/events/{{model.event.id}}/debts" title=t("app.event.result"))= t("app.event.result")
    .row
      .col-md-4.col-md-offset-1.col-sm-6.col-xs-12(role="complementary")
        include includes/expense_creation_panel
      .col-md-6.col-sm-6.col-xs-12(role="main")
        include includes/expenses_list_panel