body {
  margin:0;
  font-size: 14px;
  padding-bottom: 70px;
}

main .jumbotron {
  text-align: center;
  margin-bottom: 0;

  h1 {
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

.jumbo-bar {
  text-align: center;
  background-color: @thirdBrandColor;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.purchase-board {
  margin-top: 40px;

  .affix {
    top: 20px;
  }

  .creation-panel {
    background-color: @thirdBrandColor;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;

    .title {
      margin: 15px auto;
      width: 75%;
      font-size: 1.2em;
      font-weight: 400;
      text-align: center;
    }

    textarea {
      resize: vertical;
    }

    .form-group .help-block {
      margin-bottom: 0;
    }
  }

  .panel-heading {
    color: @textColor;
    background-color: @thirdBrandColor;
  }

  .panel-footer {
    background: none;
  }
}

.text-bold {
  font-weight: bold;
}

.alert.top-right {
  position: fixed;
  z-index: 1050;
  margin: 20px;
  top: 0;
  right: 0;

  .close {
    padding-left: 10px;
  }
}