body {
  margin:0;
  font-size: 14px;
  padding-bottom: 70px;
}

main .jumbotron {
  text-align: center;
  margin-bottom: 0;

  h1 {
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

.jumbo-bar {
  text-align: center;
  background-color: @thirdBrandColor;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.purchase-board {
  margin-top: 40px;

  .panel-heading {
    color: @textColor;
    background-color: @thirdBrandColor;
  }

  .panel-footer {
    background: none;
  }
}

.text-bold {
  font-weight: bold;
}