body {
  font-family: 'PT Sans', Helvetica, serif;
  color: @text-color;
  background-color: #F5F5F5;
  margin: 0;
}

a {
  color: @main-brand-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }

  &.external:after {
    content: '▸';
  }
}

.inverse {
  background-color: @main-brand-color;
  color: @inverse-brand-color;

  &.inverse-light {
    background-color: @third-brand-color;
  }

  a {
    color: @inverse-brand-color;

    &:hover,
    &:focus {
      color: @link-hover-color;
    }
  }
}

.text-bold {
  font-weight: bold;
}