body {
  font-family: 'PT Sans', Helvetica, serif;
  color: @text-color;
  background-color: #f5f5f5;
  margin: 0;
}

a {
  color: @main-brand-color;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }

  &.external-link:after {
    content: '▸';
  }
}

.inverse {
  background-color: @main-brand-color;
  color: @inverse-brand-color;
}

.section-common {
  padding: 40px 0;
}

.section-title {
  text-align: center;
  font-weight: 300;
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 35px;
}

.btn-load-more {
  .button-variant(@btn-load-more-color; @btn-load-more-bg; @btn-load-more-border);
}

.btn-options {
  .button-variant(@btn-options-color; @btn-options-bg; @btn-options-border);
}

.text-bold {
  font-weight: bold;
}

.debts-panel {
  background-color: @panel-bg;
  border: 1px solid @main-brand-color;
  border-radius: 4px;
  margin-bottom: 10px;

  @media (max-width: @screen-xs-max) {
    margin-bottom: 30px;
  }

  &-heading {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid transparent;
  }

  &-heading-sm {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;

    h4 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  &-body, &-footer {
    padding-right: 15px;
    padding-left: 15px;
  }

  &-body {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}