.modal {
  &-header, &-body, &-footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  &-header {
    padding-top: 28px;
    border-bottom: none;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 11px 15px 10px 10px;
      font-size: 40px;
    }

    .modal-title {
      font-size: 28px;
    }
  }

  &-footer {
    padding-bottom: 28px;
    border-top: none;
  }
}