@fa-font-path: "../../font-awesome/fonts";

@main-brand-color: #f35f5f;
@second-brand-color: #cc435f;
@third-brand-color: #f1ea65;
@fourth-brand-color: #36A3EB;
@inverse-brand-color: #fff;

@font-family-base: 'PT Sans', Helvetica, sans-serif;
@body-bg: #f5f5f5;
@text-color: #5c5c5c;
@border-color: #ddd;

@brand-primary: @main-brand-color;

@padding-huge-vertical: 15px;
@padding-huge-horizontal: 20px;

@btn-debts-secondary-bg: @second-brand-color;
@btn-debts-secondary-color: #fff;
@btn-debts-secondary-border: darken(@btn-debts-secondary-bg, 5%);

@btn-load-more-bg: @second-brand-color;
@btn-load-more-color: #fff;
@btn-load-more-border: darken(@btn-load-more-bg, 5%);

@input-border-focus: @fourth-brand-color;

@nav-link-hover-bg: @third-brand-color;
@nav-pills-active-link-hover-bg: @second-brand-color;