@icon-font-path: "/bower_components/bootstrap/fonts/";

@main-brand-color: #ff895d;
@second-brand-color: #d5eeff;
@third-brand-color: #78bbe6;
@fourth-brand-color: #1b435d;
@inverse-brand-color: #fff;

@text-color: #555555;
@border-color: #ddd;

@brand-primary: @main-brand-color;

@btn-load-more-bg: @third-brand-color;
@btn-load-more-color: #fff;
@btn-load-more-border: darken(@btn-load-more-bg, 5%);

@btn-options-bg: @fourth-brand-color;
@btn-options-color: #fff;
@btn-options-border: darken(@btn-options-bg, 5%);

@input-border-focus: @main-brand-color;

@nav-link-hover-bg: @second-brand-color;
@nav-pills-active-link-hover-bg: @third-brand-color;