.row
  #expenses-list(ng-controller="ExpensesListController as listModel")
    section(infinite-scroll="listModel.loadMore()" infinite-scroll-immediate-check="false"
        infinite-scroll-disabled="listModel.allLoaded || listModel.loading")
      div(masonry="" preserve-order="" load-images="false" masonry-options="{transitionDuration: 0}")
        debts-expense-brick(ng-repeat="expense in listModel.expenses" expense="expense")